@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

*,
ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #c8e4fe !important;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}

/* 
h1,
h2,
label,
span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
} */


:root{
  --primary-color: #536DFE;
  /* --primary-color: #6C63FF; */
  --secondary-color:#fff;
  


  --primary-border: 2px solid;
  --secondary-border: 1px solid;

  --primary-font-size: 50px;

}

button, a{
  cursor: pointer;
}
a{
  text-decoration: none;
  color: #000;
}


li{
  list-style: none;
}